/*ШРИФТЫ*/

$main-font: 'Roboto Condensed', sans-serif; /*главный шрифт страницы*/
$fontSize-big: 3.125rem; /*размер шрифта - большой*/
$fontSize-middle: 1.625rem; /*размер шрифта - средний*/
$fontSize-small: 1.125rem; /*размер шрифта - мелкий*/

/*ТЕНИ*/
$box-shadow-color: 0px 3px 5px 0 rgba(174,174,174,0.5); /*параметры тени блока*/

/*ОТСТУПЫ*/
$margin-top-section: 7%; /*отступы между секциями*/
$margin-h2: 120px; /*отступ  между секцией и h2*/

/*ЦВЕТА*/
$main-color: #95E2FC; /*главный цвет страницы*/
$main-color-hover: #63d4fb; /*главный цвет hover*/
$main-color-active: #59bee1;  /*главный цвет active*/
$section-menu-color: #fafafa; /* цвет секций меню*/
$menu-font-color: #262626; /*цвет шрифта меню*/
$page-background-color: #fafafa; /*цвет фона страницы*/
$font-color: #1f262e; /*цвет общего текста*/
$border-button-color: #1f262e; /*цвет рамок кнопок*/
$border-color: #1f262e; /*цвет рамок*/
$caption-color: white; /*цвет текста заголовков (на желтом фоне)*/




/*#b86440 посмотреть этот цвет*/