/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fbfbfb;
  font-family: Roboto, sans-serif;
  font-size: 16px; }

.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s; }

.header ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.header ul li {
  display: block;
  padding: 0 15px 0 15px; }

.header a {
  color: #fff;
  font-size: .875rem;
  text-transform: uppercase;
  text-decoration: none; }

.header a:hover {
  color: #fdcd01;
  -webkit-transition: .3s;
  transition: .3s; }

.logo {
  width: 100px;
  height: 100px; }

.scroll {
  background-color: #fff;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s; }

.scroll a {
  color: #000; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content-header {
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.block-left p {
  font-size: 1.25rem;
  padding-left: 50px; }

.phone-number {
  font-size: 1.25rem; }

.section-1 {
  min-height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-size: cover; }

.content-section-1-h1 {
  font-size: 3.125rem;
  font-weight: 700;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 20px; }

.content-section-1-h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px; }

.content-section-1-span {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px; }

.feedback-form {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback-input {
  margin-top: 50px;
  padding: 20px;
  width: 300px; }

.feedback-button {
  margin-top: 50px;
  width: 300px;
  height: 65px;
  color: #2e2b29;
  text-transform: uppercase;
  font-size: .875rem;
  line-height: 1.55;
  font-weight: 700;
  border-width: 0;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #fdcd01;
  -webkit-transition: .3s;
  transition: .3s; }

.feedback-button:hover {
  background-color: #caa401;
  -webkit-transition: .3s;
  transition: .3s; }

.section-2 {
  width: 100%;
  padding: 40px 20px 0 20px;
  text-align: center; }

.section-h1 {
  font-size: 2.25rem;
  font-weight: 700;
  padding-bottom: 10px; }

.section-h2 {
  font-size: 1.625rem;
  color: #6d6d6d; }

.section-2-grid {
  padding-top: 30px;
  max-width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section-2-grid-itm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin-bottom: 70px; }

.section-2-grid-itm img {
  width: 70px;
  height: 70px; }

.section-2-grid-itm__left {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left; }

.section-2-grid__h3 {
  font-weight: 700;
  font-size: 1.5625rem;
  padding-bottom: 30px; }

.section-2-grid__p {
  font-size: 1.25rem; }

.section-3 {
  width: 100%;
  padding: 40px 20px 40px 20px;
  text-align: center; }

.section-3-grid {
  width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 30px; }

.section-3-grid-itm {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section-3-grid-itm__header {
  height: 160px;
  color: #2e2b29;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-3-grid-itm__header_brown {
  font-size: 2.1875rem;
  background-color: #b7b89d; }

.section-3-grid-itm__header_name {
  height: 80px;
  padding: 10px;
  width: 100%;
  font-size: 1.25rem;
  background-color: #d6b729;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-3-grid-itm__header_price {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fdcd01;
  padding: 10px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-3-grid-itm__header_price span:nth-child(1) {
  font-size: 2.1875rem;
  font-weight: 700; }

.section-3-grid-itm__header_price span:nth-child(2) {
  font-size: 1.25rem; }

.section-3-grid-itm__header_name_blue {
  background-color: #3299b7;
  color: #fff; }

.section-3-grid-itm__header_price_blue {
  background-color: #009fda;
  color: #fff; }

.section-3-grid-itm__span {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.25rem; }

.section-3-grid-itm__span img {
  width: 40px;
  height: 40px; }

.section-3-grid-itm__span_brown {
  background-color: #dededb;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 40px; }

.section-3-grid-itm_a {
  font-size: 1.25rem;
  padding: 20px;
  width: 200px;
  margin: auto;
  text-decoration: none;
  color: #2e2b29;
  font-size: .875rem;
  font-weight: 600;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #fdcd01; }

.section-3-grid-itm_a:hover {
  background-color: #caa401;
  -webkit-transition: .3s;
  transition: .3s; }

.section-3-grid-itm__span_mobile {
  display: none; }

.section-4 {
  width: 100%;
  padding: 40px 20px 0 20px;
  text-align: center; }

.section-4-grid {
  padding-top: 30px;
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto; }

.section-4-grid-itm {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-4-grid-itm__img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px; }

.section-4-grid-itm__h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 1.625rem; }

.section-4-grid-itm__p {
  color: #666;
  font-size: 20px; }

.section-5 {
  width: 100%;
  padding: 40px 20px 0 20px;
  text-align: center; }

.section-5-content {
  width: 90%;
  margin: auto; }

.section-5-content-itm {
  padding-top: 30px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.section-5__h3 {
  font-size: 1.625rem;
  margin-bottom: 10px; }

.section-5-a {
  color: #009fda;
  font-size: 1.25rem;
  text-decoration: none;
  margin-bottom: 10px; }

.section-5__img {
  width: 400px;
  height: 250px; }

.section-5-content-itm__block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding-left: 80px;
  text-align: left; }

.characteristics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.characteristics-itm {
  width: 20%; }

.characteristics-itm:hover > .characteristics-h4 {
  background-color: #caa401;
  -webkit-transition: .3s;
  transition: .3s; }

.characteristics-itm:hover > .characteristics-span {
  background-color: #dededb;
  -webkit-transition: .3s;
  transition: .3s; }

.characteristics-h4 {
  padding: 20px 0;
  background-color: #fdcd01;
  width: 100%;
  color: #2e2b29;
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  transition: .3s; }

.characteristics-span {
  padding: 20px;
  background-color: #f2eded;
  width: 100%;
  color: #2e2b29;
  font-size: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  transition: .3s; }

.section-6 {
  width: 100%;
  padding: 50px 20px;
  text-align: center; }

.section-6-content {
  width: 90%;
  margin: auto; }

.section-6-content-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }

.section-6-content-grid-itm {
  width: 46%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 100px; }

.section-6-content-grid-itm:nth-child(3) {
  padding-top: 150px; }

.section-6-content-grid-itm:nth-child(4) {
  padding-top: 150px; }

.section-6-content-itm__block-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: left; }

.section-6-content__img {
  width: 135px;
  height: 135px; }

.section-6-content-itm-block-text__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 40px; }

.section-6-content-grid-itm__h3 {
  font-size: 1.625rem;
  display: block;
  line-height: 1.6;
  font-weight: 600;
  padding-bottom: 45px; }

.section-6-content-itm-block-text__right-h4 {
  font-size: 1.625rem;
  line-height: 1.55;
  font-weight: 400; }

.section-6-content-itm-block-text__right-p {
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300; }

.section-7 {
  width: 100%;
  background-image: url(/img/3.png);
  padding-top: 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-repeat: no-repeat; }

.section-7-content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  text-align: center; }

.section-h1_white {
  color: #fff;
  padding-bottom: 50px; }

.section-h2_white {
  color: #fff;
  padding-bottom: 50px; }

.section-8 {
  width: 100%;
  padding: 40px 20px 40px 20px;
  text-align: center; }

.section-8-content {
  width: 85%;
  padding-top: 50px;
  margin: auto; }

.section-8-content-itm {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.section-8-content-itm:last-child {
  padding-bottom: 0; }

.section-8-content-itm__img {
  width: 50%;
  padding-right: 50px; }

.section-8-content-itm-block-text {
  text-align: left;
  padding-left: 50px;
  width: 50%; }

.section-8-content-itm-block-text__h2 {
  font-size: 1.625rem;
  line-height: 1.55;
  font-weight: 500; }

.section-8-content-itm-block-text__ul {
  padding-top: 40px;
  padding-left: 20px;
  text-align: left;
  list-style-type: disc; }

.section-8-content-itm-block-text__li {
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300;
  color: #fdcd01;
  padding-bottom: 20px; }

.section-8-content-itm-block-text__li span {
  color: #2e2b29; }

.section-9 {
  width: 100%;
  padding: 40px 20px 40px 20px;
  text-align: center; }

.section-9-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 50px; }

.section-9-grid-itm__img {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.section-9-grid-itm__name {
  padding-top: 50px;
  font-size: 1.625rem;
  line-height: 1.55;
  font-weight: 400; }

.section-9-grid-itm__position {
  color: #6b6b6b;
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300; }

.section-11 {
  width: 100%;
  padding: 40px 20px 20px 20px;
  text-align: center;
  background-color: #2e2b29; }

.logo-footer {
  width: 120px;
  height: 120px; }

.section-11-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-11-content-itm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section-11-content-itm__p {
  padding-left: 40px;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 400; }

.section-11-content-itm_soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-11-content-itm_soc__block-a-img {
  width: 48px;
  height: 48px; }

.section-11-content-itm_soc__span {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 20px; }

.section-11-content-itm__numbers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.numbers__span {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.55; }

.section-11-content-last {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-11-content-last__text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300; }

.text-blue {
  color: #009fda;
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 300;
  text-decoration: none; }

@media only screen and (max-width: 1024px) {
  .navigation {
    display: none; }
  .section-h1 {
    font-size: 1.625rem; }
  .section-h2 {
    font-size: 1.25rem; }
  .section-2-grid__h3 {
    font-size: 1.125rem; }
  .section-2-grid__p {
    font-size: 1rem; }
  .section-4-grid {
    width: 100%; }
  .section-4-grid-itm {
    width: 180px; }
  .section-4-grid-itm__h3 {
    font-size: 1.1375rem; }
  .section-4-grid-itm__p {
    font-size: .875rem; }
  .section-5-content-itm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-5__img {
    width: 250px;
    height: 200px;
    padding-bottom: 20px; }
  .section-5-content-itm__block-right {
    padding-left: 0; }
  .section-6-content-grid-itm {
    width: 100%; }
  .section-8-content {
    width: 100%; }
  .section-8-content-itm-block-text {
    padding-left: 20px; }
  .section-8-content-itm__img {
    padding-right: 20px; }
  .section-8-content-itm-block-text__h2 {
    font-size: 1.125rem; }
  .section-8-content-itm-block-text__li {
    font-size: 1rem;
    padding-bottom: 10px; }
  .section-9-grid {
    width: 100%; }
  .section-11-content {
    width: 100%; }
  .section-11-content-itm__p {
    font-size: .875rem; }
  .logo-footer {
    width: 100px;
    height: 100px; }
  .section-11-content-itm_soc__span {
    font-size: .875rem; }
  .section-11-content-itm_soc__block-a-img {
    width: 35px;
    height: 35px; }
  .numbers__span {
    font-size: 1.125rem; }
  .section-11-content-last {
    width: 100%; }
  .section-11-content-last__text {
    font-size: .875rem; }
  .text-blue {
    font-size: .875rem; } }

@media only screen and (max-width: 1224px) {
  .feedback-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .block-left p {
    padding-left: 20px;
    font-size: 1.25rem; }
  .navigation a {
    font-size: .75rem; }
  .phone-number {
    font-size: 1.125rem; }
  .section-3-grid {
    width: 100%; }
  .section-3-grid-itm_a {
    width: 80%; } }

@media only screen and (min-width: 320px) and (max-width: 728px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px; }
  .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .block-left p {
    padding-left: 20px;
    font-size: 1rem; }
  .logo {
    width: 50px;
    height: 50px; }
  .phone-number {
    padding-top: 10px;
    font-size: 1rem; }
  .content-section-1-h1 {
    font-size: 2.1875rem; }
  .content-section-1-h2 {
    font-size: 1.75rem; }
  .content-section-1-span {
    font-size: 1.3125rem; }
  .section-2-grid-itm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-right: 0; }
  .section-2-grid-itm img {
    margin-bottom: 20px; }
  .section-2-grid-itm__left {
    padding: 0;
    text-align: center; }
  .section-3-grid {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section-3-grid-itm {
    margin-bottom: 50px;
    width: 100%; }
  .section-3-grid-itm:nth-child(1) {
    display: none; }
  .section-3-grid-itm__span {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: right; }
  .section-3-grid-itm__span_mobile {
    font-size: 1rem;
    display: inline;
    width: 70%;
    text-align: left; }
  .section-4-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-4-grid-itm {
    margin-bottom: 50px; }
  .section-5-content {
    width: 100%; }
  .section-5-content-itm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .characteristics-itm {
    width: 100%; }
  .section-6-content-grid-itm__h3 {
    font-size: 1.125rem; }
  .section-6-content-grid-itm {
    padding-top: 100px; }
  .section-6-content-itm-block-text__right {
    padding-left: 10px; }
  .section-6-content-itm-block-text__right-h4 {
    font-size: 1.125rem; }
  .section-6-content-itm-block-text__right-p {
    font-size: .875rem; }
  .section-8-content-itm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section-8-content-itm__img {
    width: 100%;
    padding-right: 0;
    padding-bottom: 15px; }
  .section-8-content-itm-block-text {
    width: 100%;
    padding-left: 0; }
  .section-8-content-itm-block-text__ul {
    padding-top: 20px; }
  .section-8-content-itm {
    padding-bottom: 50px; }
  .section-9-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0; }
  .section-9-grid-itm {
    padding-bottom: 50px; }
  .section-11-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-11-content-itm {
    padding-bottom: 20px; }
  .section-11-content-itm_soc {
    padding-bottom: 20px; } }
