@charset "UTF-8";
/*ШРИФТЫ*/
/*главный шрифт страницы*/
/*размер шрифта - большой*/
/*размер шрифта - средний*/
/*размер шрифта - мелкий*/
/*ТЕНИ*/
/*параметры тени блока*/
/*ОТСТУПЫ*/
/*отступы между секциями*/
/*отступ  между секцией и h2*/
/*ЦВЕТА*/
/*главный цвет страницы*/
/*главный цвет hover*/
/*главный цвет active*/
/* цвет секций меню*/
/*цвет шрифта меню*/
/*цвет фона страницы*/
/*цвет общего текста*/
/*цвет рамок кнопок*/
/*цвет рамок*/
/*цвет текста заголовков (на желтом фоне)*/
/*#b86440 посмотреть этот цвет*/
html {
  overflow: hidden; }

.header {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent; }

.hello-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #95E2FC;
  text-align: center; }
  .hello-section h1 {
    color: #1f262e;
    font-size: 3.125rem; }

@media (min-width: 320px) {
  .link-button_position {
    top: 25%; } }

@media (min-width: 600px) {
  .hello-section h1 {
    font-size: 2.25rem; } }

@media screen and (min-width: 801px) {
  .hello-section h1 {
    font-size: 4.375rem; } }

@media (min-width: 1025px) {
  .link-button {
    padding: 10px 20px;
    font-size: 1.625rem; }
  .link-button_position {
    top: 35%; } }
