@import "var";

.submit-button {
	height: 40px;
	padding: 10px 20px;
    background: none;
    border: 1px solid $border-color;
    font-size: $fontSize-small;
    color: $font-color; 
    transition: 0.1s;
    font-family: $main-font;
    text-decoration: none;
}

.submit-button_position {
	margin-top: 20px;
}

.submit-button:hover {
	background-color: $main-color-hover;
	transition: 0.1s;
}


.submit-button:active   {
	
}