@charset "UTF-8";
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects
*/
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/*ШРИФТЫ*/
/*главный шрифт страницы*/
/*размер шрифта - большой*/
/*размер шрифта - средний*/
/*размер шрифта - мелкий*/
/*ТЕНИ*/
/*параметры тени блока*/
/*ОТСТУПЫ*/
/*отступы между секциями*/
/*отступ  между секцией и h2*/
/*ЦВЕТА*/
/*главный цвет страницы*/
/*главный цвет hover*/
/*главный цвет active*/
/* цвет секций меню*/
/*цвет шрифта меню*/
/*цвет фона страницы*/
/*цвет общего текста*/
/*цвет рамок кнопок*/
/*цвет рамок*/
/*цвет текста заголовков (на желтом фоне)*/
/*#b86440 посмотреть этот цвет*/
.header {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #FAFAFA;
  z-index: 4; }

.menu__a {
  padding: 5px 20px;
  font-size: 1.125rem;
  text-decoration: none;
  color: #1f262e; }

.messengers {
  margin-top: 20px;
  width: 100%; }

.messengers-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.messengers-logo {
  height: 32px;
  width: 32px; }

.messengers__itm {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px 10px 10px 10px; }

.messengers__itm:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: #63d4fb; }

.logo {
  text-decoration: none;
  color: #1f262e;
  font-size: 36px; }

@media (min-width: 320px) {
  .menu a {
    display: none; }
  .header {
    padding: 15px 15px; } }

@media (min-width: 480px) {
  .menu a {
    display: none; } }

@media screen and (min-width: 801px) {
  .header {
    padding: 15px 50px; }
  .menu a {
    display: none; } }

@media (min-width: 1025px) {
  .header {
    padding: 15px 50px; }
  .logo {
    font-size: 36px; }
  .menu a {
    display: inline;
    font-size: 1.125rem; }
  .menu button {
    font-size: 1.125rem; } }

.footer {
  background-color: #95E2FC;
  padding: 5px 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px; }

.footer-logo {
  width: 20px;
  heidht: 20px; }

/*ШРИФТЫ*/
/*главный шрифт страницы*/
/*размер шрифта - большой*/
/*размер шрифта - средний*/
/*размер шрифта - мелкий*/
/*ТЕНИ*/
/*параметры тени блока*/
/*ОТСТУПЫ*/
/*отступы между секциями*/
/*отступ  между секцией и h2*/
/*ЦВЕТА*/
/*главный цвет страницы*/
/*главный цвет hover*/
/*главный цвет active*/
/* цвет секций меню*/
/*цвет шрифта меню*/
/*цвет фона страницы*/
/*цвет общего текста*/
/*цвет рамок кнопок*/
/*цвет рамок*/
/*цвет текста заголовков (на желтом фоне)*/
/*#b86440 посмотреть этот цвет*/
.submit-button {
  height: 40px;
  padding: 10px 20px;
  background: none;
  border: 1px solid #1f262e;
  font-size: 1.125rem;
  color: #1f262e;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none; }

.submit-button_position {
  margin-top: 20px; }

.submit-button:hover {
  background-color: #63d4fb;
  -webkit-transition: 0.1s;
  transition: 0.1s; }

/*ШРИФТЫ*/
/*главный шрифт страницы*/
/*размер шрифта - большой*/
/*размер шрифта - средний*/
/*размер шрифта - мелкий*/
/*ТЕНИ*/
/*параметры тени блока*/
/*ОТСТУПЫ*/
/*отступы между секциями*/
/*отступ  между секцией и h2*/
/*ЦВЕТА*/
/*главный цвет страницы*/
/*главный цвет hover*/
/*главный цвет active*/
/* цвет секций меню*/
/*цвет шрифта меню*/
/*цвет фона страницы*/
/*цвет общего текста*/
/*цвет рамок кнопок*/
/*цвет рамок*/
/*цвет текста заголовков (на желтом фоне)*/
/*#b86440 посмотреть этот цвет*/
.link-button {
  padding: 10px 20px;
  background: none;
  border: 1px solid #1f262e;
  font-size: 1.125rem;
  color: #1f262e;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none; }

.link-button_fs-middle {
  font-size: 1.625rem; }

.link-button:hover {
  background: #63d4fb;
  -webkit-transition: 0.1s;
  transition: 0.1s; }

.link-button_position {
  position: absolute;
  top: 30%; }

@media (min-width: 320px) {
  .link-button_position {
    top: 30%; } }

@media screen and (min-width: 801px) {
  .link-button_mobile-size {
    padding: 10px 20px;
    font-size: 30px; } }

@media (min-width: 1025px) {
  .link-button {
    padding: 10px 20px;
    font-size: 1.625rem; }
  .link-button_position {
    top: 35%; } }

/*!
* Propeller v1.0.0 (http://propeller.in)
* Copyright 2016-2017 Digicorp, Inc.
* Licensed under MIT (http://propeller.in/LICENSE)
*/
/* ------------------------------- Buttons CSS ------------------------------------ */
.btn {
  display: inline-block;
  padding: 10px 14px;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87); }

.btn-default, .l {
  color: rgba(0, 0, 0, 0.87); }

/* ------------------------------ Buttons style ------------------------------------ */
.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out; }

.btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn.active:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

/* -------------------------- Buttons colors -------------------------------- */
/* -- Buttons Default --*/
.btn-default, .dropdown-toggle.btn-default {
  background-color: #ffffff; }

.btn-default:hover, .dropdown-toggle.btn-default:hover {
  background-color: #e5e5e5; }

.btn-default:active, .dropdown-toggle.btn-default:active, .btn-default.active, .dropdown-toggle.btn-default.active {
  background-color: #e5e5e5; }

.btn-default:focus, .dropdown-toggle.btn-default:focus {
  background-color: #cccccc; }

.btn-default:disabled, .dropdown-toggle.btn-default:disabled, .btn-default.disabled, .dropdown-toggle.btn-default.disabled,
.btn-default[disabled], .dropdown-toggle.btn-default[disabled] {
  background-color: #b3b3b3; }

.btn-default .ink, .dropdown-toggle.btn-default .ink {
  background-color: #b8b8b8; }

/* -- Buttons Primary --*/
.btn-primary, .dropdown-toggle.btn-primary {
  background-color: #4285f4; }

.btn-primary:hover, .dropdown-toggle.btn-primary:hover {
  background-color: #4e6cef; }

.btn-primary:active, .dropdown-toggle.btn-primary:active, .btn-primary.active, .dropdown-toggle.btn-primary.active {
  background-color: #4e6cef; }

.btn-primary:focus, .dropdown-toggle.btn-primary:focus {
  background-color: #455ede; }

.btn-primary:disabled, .dropdown-toggle.btn-primary:disabled, .btn-primary.disabled, .dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled], .dropdown-toggle.btn-primary[disabled] {
  background-color: #b3b3b3; }

.btn-primary .ink, .dropdown-toggle.btn-primary .ink {
  background-color: #3b50ce; }

/* -- Buttons Success --*/
.btn-success,
.dropdown-toggle.btn-success {
  background-color: #259b24; }

.btn-success:hover, .dropdown-toggle.btn-success:hover {
  background-color: #0a8f08; }

.btn-success:active, .dropdown-toggle.btn-success:active, .btn-success.active, .dropdown-toggle.btn-success.active {
  background-color: #0a8f08; }

.btn-success:focus, .dropdown-toggle.btn-success:focus {
  background-color: #0a7e07; }

.btn-success:disabled, .dropdown-toggle.btn-success:disabled, .btn-success.disabled, .dropdown-toggle.btn-success.disabled,
.btn-success[disabled], .dropdown-toggle.btn-success[disabled] {
  background-color: #b3b3b3; }

.btn-success .ink, .dropdown-toggle.btn-success .ink {
  background-color: #056f00; }

/* -- Buttons Info --*/
.btn-info, .dropdown-toggle.btn-info {
  background-color: #03a9f4; }

.btn-info:hover, .dropdown-toggle.btn-info:hover {
  background-color: #039be5; }

.btn-info:active, .dropdown-toggle.btn-info:active, .btn-info.active, .dropdown-toggle.btn-info.active {
  background-color: #039be5; }

.btn-info:focus, .dropdown-toggle.btn-info:focus {
  background-color: #0288d1; }

.btn-info:disabled, .dropdown-toggle.btn-info:disabled, .btn-info.disabled, .dropdown-toggle.btn-info.disabled, .btn-info[disabled], .dropdown-toggle.btn-info[disabled] {
  background-color: #b3b3b3; }

.btn-info .ink, .dropdown-toggle.btn-info .ink {
  background-color: #0277bd; }

/* -- Buttons Warning --*/
.btn-warning, .dropdown-toggle.btn-warning {
  background-color: #ffc107; }

.btn-warning:hover, .dropdown-toggle.btn-warning:hover {
  background-color: #ffb300; }

.btn-warning:active, .dropdown-toggle.btn-warning:active, .btn-warning.active, .dropdown-toggle.btn-warning.active {
  background-color: #ffb300; }

.btn-warning:focus, .dropdown-toggle.btn-warning:focus {
  background-color: #ffa000; }

.btn-warning:disabled, .dropdown-toggle.btn-warning:disabled, .btn-warning.disabled, .dropdown-toggle.btn-warning.disabled, .btn-warning[disabled], .dropdown-toggle.btn-warning[disabled] {
  background-color: #b3b3b3; }

.btn-warning .ink, .dropdown-toggle.btn-warning .ink {
  background-color: #ff8f00; }

/* -- Buttons Danger --*/
.btn-danger, .dropdown-toggle.btn-danger {
  background-color: #ff5722; }

.btn-danger:hover, .dropdown-toggle.btn-danger:hover {
  background-color: #f4511e; }

.btn-danger:active, .dropdown-toggle.btn-danger:active, .btn-danger.active, .dropdown-toggle.btn-danger.active {
  background-color: #f4511e; }

.btn-danger:focus, .dropdown-toggle.btn-danger:focus {
  background-color: #e64a19; }

.btn-danger:disabled, .dropdown-toggle.btn-danger:disabled, .btn-danger.disabled, .dropdown-toggle.btn-danger.disabled, .btn-danger[disabled], .dropdown-toggle.btn-danger[disabled] {
  background-color: #b3b3b3; }

.btn-danger .ink, .dropdown-toggle.btn-danger .ink {
  background-color: #d84315; }

/* -- Buttons sizes -------------------------------- */
.btn {
  min-width: 88px;
  padding: 10px 14px; }

/* --------------------------------- Ripple effect -------------------------------- */
.pmd-ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1; }

.ink.animate {
  -webkit-animation: ripple .5s linear;
  animation: ripple .5s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }

#modal_form {
  width: 400px;
  /* Рaзмеры дoлжны быть фиксирoвaны */
  -webkit-box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
  overflow: hidden;
  background-color: #f6f8fa;
  position: fixed;
  /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%;
  /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%;
  /* пoлoвинa экрaнa слевa */
  margin-top: -200px;
  margin-left: -200px;
  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none;
  /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0;
  /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 10;
  /* oкнo дoлжнo быть нaибoлее бoльшем слoе */ }

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

/* Пoдлoжкa */
#overlay {
  z-index: 9;
  /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position: fixed;
  /* всегдa перекрывaет весь сaйт */
  background-color: #000000;
  /* чернaя */
  opacity: 0.8;
  /* нo немнoгo прoзрaчнa */
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* рaзмерoм вo весь экрaн */
  top: 0;
  /* сверху и слевa 0, oбязaтельные свoйствa! */
  left: 0;
  cursor: pointer;
  display: none;
  /* в oбычнoм сoстoянии её нет) */ }

.submit-form {
  padding: 20px 30px;
  margin-top: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.form-input-h {
  margin-bottom: 5px;
  font-size: 1.125rem; }

.form-input-h__clarification {
  font-size: 1rem;
  font-style: italic; }

.form-input {
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 5px;
  margin-bottom: 25px;
  border: inherit;
  outline: none;
  border: 1px #1f262e solid; }

.form-input:focus {
  -webkit-box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5);
  box-shadow: 0px 3px 5px 0 rgba(174, 174, 174, 0.5); }

@media (min-width: 320px) {
  #modal_form {
    width: 300px;
    margin-left: -150px;
    margin-top: -250px; } }

@media (min-width: 480px) {
  #modal_form {
    width: 400px;
    margin-left: -200px;
    margin-top: -200px; } }

@media (min-width: 1025px) {
  #modal_form {
    width: 400px;
    margin-left: -200px;
    margin-top: -250px; } }

@media (min-width: 320px) {
  .text-h1_fs {
    font-size: 1.375rem; } }

@media (min-width: 480px) {
  .text-h1_fs {
    font-size: 1.625rem; } }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  color: #1f262e;
  background-color: #FAFAFA; }

.content {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  padding: 120px 10px 0 10px; }

img {
  max-width: 100%;
  height: auto; }

.text_hover {
  -webkit-transition: 0.1s;
  transition: 0.1s; }

.text_hover:hover {
  color: #63d4fb;
  -webkit-transition: 0.1s;
  transition: 0.1s; }
